h1{
    color: rgb(12, 12, 12);
    text-align: center;
    text-shadow: 1px 2px;
}
.grid-container {
    display: grid;
    gap: 20px 50px;
    grid-template-columns: auto auto auto auto;
    background-color: #f3f1f7;
    padding: 5px;
    box-shadow: 1px 3px 1px 3px;
    color: 
    
    
    rgb(252, 248, 253);
    border-radius: 25px;
  }
  
  .grid-item {
    background-color: rgba(148, 159, 165, 0.8);
    border: 0px solid rgba(244, 245, 242, 0.8);
    padding: 10px 5px;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
    img{
        width: 250px;
        height: 250px;
        padding: 5px 5px 5px 5px;
        background-color: rgb(253, 249, 249);
        border-radius: 20px;
      }
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #084a70;
    border: none;
    border-radius: 50px;
    box-shadow: 0 3px #fffffb;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #e5ebd4;
    box-shadow: 0 5px #f1f5f0;
    transform: translateY(4px);
  }
  h2{
    text-align: center;
    color: #383837;
  }
  @media screen width(400% {
    ..grid-container {
        width: 100%px;
        float: contain;
        padding: 20px;
        display: block;
        margin-bottom: 20px;
    }
  }